* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // height: 100vh;
}

.stage {
  // width: 1020px;
  // height: 510px;
  background-image: url("/img/tile.png");
  position: relative;
  border: 2px solid black;
}

.entity {
  position: absolute;
  width: 85px;
  height: 85px;

  &--pac {
    position: absolute;
    font-weight: bold;
    text-align: center;
    padding-top: 65px;
    user-select: none;

    &__score {
      margin: 0;
    }

    &--closed {
      background-position-x: 85px;
    }
    &--open {
      background-position-x: 0px;
    }

    &--left {
      background-position-y: -85px;
    }

    &--right {
      background-position-y: 0px;
    }

    &--up {
      background-position-y: 85px;
    }

    &--down {
      background-position-y: -170px;
    }
  }

  &--wall {
    background-image: url("/img/wall.png");
  }

  &--apple {
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/197/197576.svg");
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 15px;
    margin-top: 15px;
    background-position: bottom;
    border-radius: 50%;
    border: 1px solid gray;
  }

  &--bomb {
    background-image: url("https://www.flaticon.com/svg/static/icons/svg/197/197592.svg");
    height: 50px;
    width: 50px;
    background-size: cover;
    margin-left: 15px;
    margin-top: 15px;
    background-position: bottom;
    border-radius: 50%;
    border: 10px solid black;
  }

  &--tomb {
    background-image: url("/img/tomb.png");
  }
}

.pacboy {
  &-active-light {
    background-image: url("/img/pacboy-active-light.png");
  }

  &-active-medium {
    background-image: url("/img/pacboy-active-medium.png");
  }

  &-active-dark {
    background-image: url("/img/pacboy-active-dark.png");
  }
}

.pacgirl {
  &-active-light {
    background-image: url("/img/pacgirl-active-light.png");
  }

  &-active-medium {
    background-image: url("/img/pacgirl-active-medium.png");
  }

  &-active-dark {
    background-image: url("/img/pacgirl-active-dark.png");
  }
}
